*,
:after,
:before {
  box-sizing: border-box;
}
a,
b,
blockquote,
body,
canvas,
caption,
code,
div,
em,
embed,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
main,
nav,
object,
ol,
p,
pre,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}
footer,
header,
main,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url(/fonts/Gilroy-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Gilroy;
  font-weight: 500;
  src: url(/fonts/Gilroy-Medium.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Gilroy;
  font-weight: 600;
  src: url(/fonts/Gilroy-SemiBold.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Gilroy;
  font-weight: 800;
  src: url(/fonts/Gilroy-ExtraBold.ttf) format("truetype");
  font-display: swap;
}
a,
blockquote,
button,
code,
em,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  color: inherit;
  font-family: Gilroy, Arial;
}
strong {
  font-weight: 600;
}
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
html {
  background-color: #000;
}
#__next {
  max-width: 100vw;
  overflow-x: hidden;
  color: #fff;
}
#password-form {
  background-color: #fff;
}
#password-form * {
  font-family: Gilroy;
}
#password-form input {
  font-family: Gilroy !important;
}
#password-form button {
  background-color: #1e69ff !important;
  color: #fff !important;
}
.not-found {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_container__NjHmW {
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding: 0 1.25rem;
}
@media (min-width: 768px) {
  .container_container__NjHmW {
    max-width: 1250px;
    padding: 0 2.5rem;
  }
}
@media (min-width: 1440px) {
  .container_container__NjHmW {
    padding: 0;
  }
}
.text_text--body__hLJtn {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 1024px) {
  .text_text--body__hLJtn {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}
.text_text--feature-table__tQxIO {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.75rem;
}
.text_text--body-bold__dP70v {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .text_text--body-bold__dP70v {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}
.text_text--body-alt-bold__OZ9w2,
.text_text--body-alt__fhqt0 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text_text--body-alt-bold__OZ9w2 {
  font-weight: 700;
}
.text_text--body-alt-semibold___4O4G {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
.text_text--subtitle__wXGDG {
  font-size: 1.0625rem;
  line-height: 1.4375rem;
  font-weight: 800;
}
.text_text--subtitle-alt__dF9kW {
  font-size: 1.0625rem;
  line-height: 1.4375rem;
  font-weight: 600;
}
.text_text--button__zGs45 {
  font-weight: 500;
}
.text_text--button-alt-semibold__CA3TW,
.text_text--button-alt__MOBiG,
.text_text--button__zGs45 {
  font-size: 1.0625rem;
  line-height: 1.4375rem;
  letter-spacing: 1px;
}
.text_text--button-alt-semibold__CA3TW {
  font-weight: 600;
}
.text_text--menu__YguxH {
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 1px;
  font-weight: 500;
}
.text_text--menu-alt__gqb_T {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
}
.text_text--sub-body__FjnNs {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.4px;
}
.text_text--link___Pnjl {
  font-size: 1.0625rem;
  line-height: 1.375rem;
  font-weight: 500;
}
.text_text--overline__Gh6R1 {
  font-size: 0.625rem;
  line-height: 0.9375rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}
.footer_footer__LV2HF {
  padding: 0 3.125rem;
  margin-top: 5.3125rem;
}
@media (min-width: 1024px) {
  .footer_footer__LV2HF {
    margin-top: 10rem;
  }
}
.footer_footer__nav__bLSF3 {
  width: 100%;
  display: grid;
  grid-gap: 2.5rem;
  gap: 2.5rem;
  grid-template-columns: 1fr;
  margin-bottom: 5rem;
}
@media (min-width: 460px) {
  .footer_footer__nav__bLSF3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .footer_footer__nav__bLSF3 {
    margin-bottom: 10rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .footer_footer__nav__bLSF3 {
    grid-template-columns: repeat(5, 1fr);
  }
}
.footer_footer__nav__bLSF3 .footer_nav__title__rQ8Tz {
  margin-bottom: 1.0625rem;
}
@media (min-width: 768px) {
  .footer_footer__nav__bLSF3 .footer_nav__title__rQ8Tz {
    margin-bottom: 1.5625rem;
  }
}
.footer_footer__nav__bLSF3 .footer_nav__item__ULfz_ {
  color: hsla(0, 0%, 100%, 0.6);
  transition: color 0.2s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 768px) {
  .footer_footer__nav__bLSF3 .footer_nav__item__ULfz_ {
    margin-bottom: 0.625rem;
  }
}
.footer_footer__nav__bLSF3 .footer_nav__item__ULfz_ a {
  padding: 0.53125rem 0;
  display: inline-block;
}
@media (min-width: 768px) {
  .footer_footer__nav__bLSF3 .footer_nav__item__ULfz_ a {
    padding: 0;
  }
}
.footer_footer__nav__bLSF3 .footer_nav__item__ULfz_:hover {
  color: #1e69ff;
}
.footer_footer__copyrights__28qY_ {
  border-top: 2px solid hsla(0, 0%, 100%, 0.2);
  width: 100%;
  padding: 5rem 0;
}
.logo_logo__AXqd6 {
  transform: translateX(-18px);
  width: 200px;
  height: 50px;
}
@media (min-width: 768px) {
  .logo_logo__AXqd6 {
    width: unset;
    height: unset;
    transform: translateX(-38px);
  }
}
.hamburger_hamburger__1FZyw {
  width: 60px;
  height: 50px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transform: translateX(20px);
}
@media (min-width: 1024px) {
  .hamburger_hamburger__1FZyw {
    display: none;
  }
}
.hamburger_hamburger__1FZyw .hamburger_bar___vk8W {
  width: 100%;
  height: 2px;
  background-color: #fff;
  will-change: transform;
  transition: opacity 0ms 0.2s, rotate 0.2s, translate 0.2s 0.2s;
  transition-timing-function: cubic-bezier(0.6, 0.01, -0.05, 0.9);
  border-radius: 0.3125rem;
}
.hamburger_hamburger--active__s0dLr .hamburger_bar___vk8W {
  transition: opacity 0ms 0.2s, rotate 0.2s 0.2s, translate 0.2s;
}
.hamburger_hamburger--active__s0dLr .hamburger_bar--1__UxMan {
  translate: 0 4px;
  rotate: -45deg;
}
.hamburger_hamburger--active__s0dLr .hamburger_bar--2__oCbEH {
  translate: 0 -4px;
  rotate: 45deg;
}
.socials_nav__sbT5Q {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 2.5rem;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .socials_nav__sbT5Q {
    display: flex;
  }
}
.socials_nav__sbT5Q a {
  will-change: opacity;
  transition: opacity 0.3s ease-in-out;
}
.socials_nav__sbT5Q a:hover {
  opacity: 0.7;
}
.socials_nav--small__1LgIW {
  gap: 1.25rem;
}
.socials_large-gap__g1ZO3 {
  gap: 3.125rem;
  row-gap: 1.5625rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
}
@media (min-width: 1024px) {
  .socials_large-gap__g1ZO3 {
    gap: 3.125rem;
  }
}
.socials_social__container__VFDPl {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
}
.menu_menu__MBoNy {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 1.25rem;
  position: absolute;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: saturate(120%) blur(20px);
  backdrop-filter: saturate(120%) blur(20px);
  top: 0;
  left: 0;
  overflow-y: auto;
}
@media (min-width: 1024px) {
  .menu_menu__MBoNy {
    gap: 0.625rem;
    flex-direction: row;
    padding: unset;
    position: unset;
    width: unset;
    height: unset;
    background-color: unset;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
    margin-top: unset;
  }
}
.menu_menu__MBoNy .menu_link__Fz9kG {
  cursor: pointer;
  height: 50px;
  align-items: center;
  z-index: 10;
  position: relative;
  padding: 1.875rem;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  will-change: opacity;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .menu_menu__MBoNy .menu_link__Fz9kG:hover {
    opacity: 0.7;
  }
  .menu_menu__MBoNy .menu_link__Fz9kG {
    width: auto;
    justify-content: auto;
    height: 100%;
    font-size: unset;
  }
  .menu_menu__MBoNy
    .menu_link__Fz9kG:hover
    + .menu_submenu__vbgi2
    .menu_submenu__inner__k9hNr {
    opacity: 1;
  }
  .menu_menu__MBoNy .menu_link__Fz9kG {
    padding: 1.25rem;
  }
}
.menu_menu__MBoNy .menu_link__submenu__AqE0Z {
  will-change: opacity;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .menu_menu__MBoNy .menu_link__submenu__AqE0Z:hover {
    opacity: 0.7;
  }
}
.menu_menu__MBoNy .menu_link__submenu__AqE0Z:hover:after {
  transform: translateY(2px);
}
.menu_menu__MBoNy .menu_link__submenu__AqE0Z:after {
  content: "";
  width: 20px;
  height: 8px;
  background-image: url(/images/caret.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-left: 1.25rem;
  transform: rotate(-90deg);
  will-change: transform;
  transition: transform 0.3s ease-in-out;
  transform-origin: 75% 75%;
}
@media (min-width: 1024px) {
  .menu_menu__MBoNy .menu_link__submenu__AqE0Z:after {
    flex-direction: row;
    transform: rotate(0);
  }
}
.menu_menu__MBoNy .menu_link__submenu--mobile__74cYd:after {
  transform: rotate(0deg);
}
.menu_menu__MBoNy .menu_submenu__vbgi2 {
  width: 100%;
  height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  padding: 0 1.875rem;
}
.menu_menu__MBoNy .menu_submenu--mobile__0uz2L {
  height: 100%;
}
@media (min-width: 1024px) {
  .menu_menu__MBoNy .menu_submenu__vbgi2 {
    position: absolute;
    top: 0;
    left: 0;
    height: -moz-fit-content;
    height: fit-content;
    padding: unset;
  }
}
.menu_menu__MBoNy .menu_submenu__grid__W6vav {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  padding-left: 1.875rem;
}
@media (min-width: 1024px) {
  .menu_menu__MBoNy .menu_submenu__grid__W6vav {
    padding-left: 1.25rem;
    display: grid;
    grid-template-columns: fit-content(300px) fit-content(300px);
    grid-gap: 3.125rem;
    gap: 3.125rem;
  }
}
.menu_menu__MBoNy .menu_submenu__title__unDtE {
  padding-bottom: 1.25rem;
}
.menu_menu__MBoNy .menu_submenu__inner__k9hNr {
  width: 100%;
  position: relative;
  will-change: opacity;
  padding-top: 1.25rem;
}
@media (min-width: 1024px) {
  .menu_menu__MBoNy .menu_submenu__inner__k9hNr {
    opacity: 0.001;
    padding: 5rem 0 2.1875rem;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(20px) saturate(120%);
    backdrop-filter: blur(20px) saturate(120%);
  }
}
.menu_menu__MBoNy .menu_submenu__inner__k9hNr:hover {
  opacity: 1;
}
.menu_menu__MBoNy .menu_submenu__item__3L5w9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3125rem 0;
  gap: 1rem;
  cursor: pointer;
  will-change: color;
  transition: color 0.2s ease-in-out;
  margin-bottom: 1.25rem;
}
@media (min-width: 1024px) {
  .menu_menu__MBoNy .menu_submenu__item__3L5w9 {
    margin-bottom: unset;
  }
}
.menu_menu__MBoNy .menu_submenu__item__3L5w9:hover {
  color: #1e69ff;
}
.spacing_spacing--xxs__sUXCb {
  height: 12.5px;
}
@media (min-width: 768px) {
  .spacing_spacing--xxs__sUXCb {
    height: 25px;
  }
}
.spacing_spacing--xs__lHOjv {
  height: 20px;
}
@media (min-width: 768px) {
  .spacing_spacing--xs__lHOjv {
    height: 40px;
  }
}
.spacing_spacing--s__9gQfU {
  height: 40px;
}
@media (min-width: 768px) {
  .spacing_spacing--s__9gQfU {
    height: 80px;
  }
}
.spacing_spacing--m__2ifRm {
  height: 50px;
}
@media (min-width: 768px) {
  .spacing_spacing--m__2ifRm {
    height: 100px;
  }
}
.spacing_spacing--l___sOSZ {
  height: 75px;
}
@media (min-width: 768px) {
  .spacing_spacing--l___sOSZ {
    height: 150px;
  }
}
.spacing_spacing--xl__S9p3I {
  height: 100px;
}
@media (min-width: 768px) {
  .spacing_spacing--xl__S9p3I {
    height: 200px;
  }
}
.spacing_spacing--btn__HZu05 {
  height: 24px;
}
.header_header__GSKJx {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  height: 80px;
}
@media (min-width: 1024px) {
  .header_header__GSKJx {
    height: 50px;
  }
}
.header_header__logo__mTmBu {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  flex: 1 1;
}
.header_header__logo__mTmBu svg {
  height: 25px;
}
.header_header__socials__6OEE6 {
  flex: 1 1;
  justify-content: flex-end;
  position: relative;
  z-index: 10;
  display: none;
}
@media (min-width: 768px) {
  .header_header__socials__6OEE6 {
    display: flex;
  }
}
.header_header__inner__fLFDh {
  position: relative;
  width: 100%;
}
.header_header--light__7ooGx {
  color: #000;
}
.header_header--light__7ooGx.header_header--background__VG3U9:after {
  background-color: hsla(0, 0%, 100%, 0.7);
  -webkit-backdrop-filter: saturate(120%) blur(20px);
  backdrop-filter: saturate(120%) blur(20px);
}
.header_header--dark__xHCYd {
  color: #fff;
}
.header_header--dark__xHCYd.header_header--background__VG3U9:after {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: saturate(120%) blur(20px);
  backdrop-filter: saturate(120%) blur(20px);
}
.header_header__GSKJx:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background-color: transparent;
  -webkit-backdrop-filter: saturate(100%) blur(0);
  backdrop-filter: saturate(100%) blur(0);
  will-change: background-color;
  transition: background-color 0.2s ease;
}
.header_header__GSKJx .header_notch__container__4I9LE {
  position: absolute;
  top: 50px;
  left: 0;
  justify-content: center;
  width: 100%;
  z-index: -1;
  display: flex;
  pointer-events: none;
}
.header_header__GSKJx .header_notch__container__4I9LE p {
  font-size: 14px !important;
}
.header_nav__zbhEe {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header_nav--small__FZkq2 {
  gap: 1.25rem;
}
.header_joinwrapper__jValn {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
